# ==========================================
# DEPENDENCIES
# ==========================================

node_modules/


# ==========================================
# BUILD
# ==========================================

dist/


# ==========================================
# LOCAL STORAGE
# ==========================================

storage-local/


# ==========================================
# ENVIRONMENT
# ==========================================

.env
.env.local
.env.*.local
backend-91067-firebase-adminsdk-fbsvc-48572794b4.json


# ==========================================
# FIREBASE CREDENTIALS
# ==========================================

*-firebase-adminsdk-*.json
firebase-service-account.json


# ==========================================
# LOGS
# ==========================================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# ==========================================
# IDE / OS
# ==========================================

.DS_Store
Thumbs.db
.vscode/
.idea/

node_modules/